.page-wrapper {
  background-color: bisque;

  display: flex;
  flex-direction: column;
}
.header-wrapper {
  display: flex;
  padding: 20px 0;
}

.logo {
  padding: 0 15px;
}

.header-menu {
  padding: 0 10px;
}

.header-menu__item {
  padding: 0 10px;
}