{% extends "layout.html" %}
{% block content %}

<h1>What am I looking at?</h1>
<h4>You are looking at unique piece of web art inspired by legendary line of code.</h4>

<h1>What should I do on this twisted parody of normal web-app?</h1>
<h4>You should embrace eternity in an attempt to experience the great fractal likeness.</h4>

<h1>What is the general purpose of my life?</h1>
<h4>Hurricane Ecosystem Latitude Linguistics Octet Water Orbit Reactant Linguistic Decomposer is the center of the Universe.</h4>

{% endblock %}