<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet"href="{{ url_for('static', filename='styles/layout.css') }}">
  </head>

  <body>
    <div class="page-wrapper">
      <div class="header-wrapper">
        <div class="logo font-large">Flask app</div>
        <div class="header-menu">
          <a class="header-menu__item font-medium" href="{{ url_for('home') }}">Home</a>
          <a class="header-menu__item font-medium" href="{{ url_for('faq') }}">Faq</a>
        </div>
      </div>
      <div class="body-wrapper">{% block content %}{% endblock %}</div>
      <div class="footer-wrapper"></div>
    </div>
  </body>
</html>
